
.hw-table-root {
  border-color: #eee;
  border-width: 0px;
  width: 100%;

  &.hw-tbl-separator-horizontal {
    .hw-table-data-row {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: inherit;

      }

    .hw-table-header-root {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: inherit;
      @include default-application-gradient;
      }
    }

  &.hw-tbl-separator-vertical {
    .hw-table-data-cell:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: inherit;

      }

    .hw-table-header-th:not(:last-child) {
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: inherit;
      }
    }

  &.hw-tbl-separator-cell {
    .hw-table-data-cell {
      border-right-width: 2px;
      border-bottom-width: 1px;
      border-right-style: solid;
      border-bottom-style: solid;
      border-right-color: inherit;
      border-bottom-color: inherit;

      &:hover {
        border-right: 2px solid #0f3c53
        }


      &:last-child {
        border-right-width: 0px;
        }
      }

    .hw-table-header-th {
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-right-style: solid;
      border-bottom-style: solid;
      border-right-color: inherit;
      border-bottom-color: inherit;

      &:last-child {
        border-right-width: 0px;
        }
      }
    }
  }


.hw-table-header-tr {
  @include application-gradient-grey;
  color: #153153;
  text-shadow: 1px 1px 1px white;
  letter-spacing: 0.4px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;

  }


.hw-table-cell-action {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  min-width: 25px;

  svg {
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
      color: #8a181c;
      }
    }
  }


.hw-table-data-row {
  cursor: pointer;

  &:nth-child(even) {
    background-color: rgba(158, 184, 195, 0.07);
    }

  &:hover {
    background-color: rgba(158, 184, 195, 0.19);
    }
  }

.hw-table-header-th {
  text-align: center;
  vertical-align: middle;
  padding: 3px 0px;
  }

.hw-table-data-cell {
  text-align: center;
  color: #475054;
  vertical-align: middle;
  font-weight: 300;
  padding: 2px 4px;

  &.hw-table-cell-center {
    padding: 3px 8px;
    }
  }


.hw-table-header-th-basic {
  position: relative;
  padding: 3px;

  > div {
    display: inline-block;
    }
  }

.hw-table-header-th-basic-sort {
  position: relative;
  float: right;
  opacity: 0.5;
  cursor: pointer;

  > div {
    transform: scale(1.1);
    position: absolute;
    right: 2px;
    top: 0px;

    }

  &.hw-table-header-th-basic-sorted {
    opacity: 1;
    color: #eeeeee;
    filter: drop-shadow(0px 1px 0px black);

    }
  }

.hwt-cell-resizable-node {
  cursor: auto;
  user-select: none;
  width: 20px;
  position: absolute;
  top: 1px;
  right: -10px;
  height: 100%;
  background: transparent;
  z-index: 500;

  .hwt-cell-resizable-node-holder {
    width: 5px;
    height: 100%;
    background: transparent;
    }

  &:hover {
    .hwt-cell-resizable-node-holder {
      background: #bbb;
      }
    }

  &.active-resize {
    cursor: col-resize;

    &:hover {
      .hwt-cell-resizable-node-holder {
        background: #333;
        }
      }

    }
  }
